* {
  margin: 0;
  padding: 0;
}

html, body {
  display: flex;
  justify-content: center;
  margin: auto;
  background: black;
}

div {
  margin: .8rem;
  background-color:blueviolet;
  color: white;
  text-align: center;
  border-radius: .5rem;
  font-weight: 800;
  animation: bounce 4s infinite alternate;
}

@keyframes bounce {
  0% { transform: translate(0, 0); }
  25% { transform: translate(100px, 0); }
  50% { transform: translate(100px, 100px); }
  75% { transform: translate(0, 100px); }
  100% { transform: translate(0, 0); }
}